@import '../variables';

.search-box{
    font-size: 1em;
    grid-area: search;
    height: 5,44em;
    margin: 1.4em 0;
    position: relative;
    
    input{
        background-color: $gray;
        border: none;
        border-radius: 3.4em;
        box-sizing: border-box;
        color: $dark-blue;
        font-size: 1.6em;
        font-weight: lighter;
        height: 3.4em;
        margin: 0;
        padding: 0 2em;
        width: 100%;

        &.enter-key{
            padding: 0 8em 0 2em;
        }
    }

    button.enter-key{
        border: 0.06em solid $black;
        border-radius: 0.2em;
        cursor: pointer;
        display: block;
        font-size: 1.6em;
        padding: 0.5em;
        position: absolute;
        opacity: 0.4;
        right: 2em;
        // top: 2em;
        top: 0.5em;
    }
}