@import '../variables';

$height: 3.4em;
$font-size: 2em;
.search-box{
    box-sizing: border-box;
    font-size: 1em;
    grid-area: search;
    margin: 1.4em 0;
    padding: 0 1.2em;

    input{
        background-color: $gray;
        border: none;
        border-radius: $height / 2;
        color: $dark-blue;
        font-size: 1.6em;
        font-weight: lighter;
        height: $height;
        padding: 0 2em;
        width: 100%;
    }
}