@import '../variables';

.illustration{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    
    
    
    img{
        animation: appear 0.3s ease-in-out;
        height: auto;
        width: 320px;

        @keyframes appear{
            0%{
                opacity: 0;
            }
    
            100%{
                opacity: 1;
            }
        }
    }

    p{
        color: $black;
        font-size: 1.8em;
    }

    .attribution{
        font-size: 1.4em;
    }

    a{
        color: $dark-blue;
    }
}