@import '../variables';

div.genres{
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    min-height: 3em;
    padding: 1.8em 0;


    span.genre{
        background-color: $white;
        border: 0.1em solid $dark-blue;
        border-radius: 1em;
        color: $dark-blue;
        font-size: 1.6em;
        margin: 0.2em;
        padding: 0.2em 0.8em;

        &:first-child{
            margin-left: 0;
        }

        &:last-child{
            margin-right: 0;
        }
    }
}