@import url('https://fonts.googleapis.com/css?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #ffffff;
    font-size: 10px;
    /* grid-templa */
    width: 100%;
}

#root{
    display: grid;
    grid-template-areas: "header header header"
                         "... search ..."
                         "... main ..."
                         "... footer ...";
    grid-template-columns: 1fr minmax(0, 900px) 1fr;
    /* grid-template-rows: 8em 
                        3.8em
                        1fr
                        2.8em; */
    justify-content: center;
}

main{
    grid-area: main;
}

.abel{
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}

.lato{
    font-family: 'Lato', sans-serif;
}


/* *{
    box-sizing: border-box;
} */